:root {
  --p1-color: #0D0A0A;
  --p2-color: #404040;
  --s1-color: #F2F2F2;
  --s2-color: #8C8C8C;
  --n1-color: #D9D9D9;
  --n2-color: #487EC6;
  --text-w-color: white;
  --text-b-color: black;
  --text-size: 2vh;
  --header-font-size: 4vh;
  --big-font-size: 11vh;
  --text-font-family: "Roboto", sans-serif;
  --header-font-family: "Poppins", sans-serif;
  --text-font-weight: 400;
  --light-font-weight: 100;
  --header-font-weight: 900;
}

img, svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

::-webkit-scrollbar {
  width: 1vh;
  background: var(--s1-color);
}

::-webkit-scrollbar-thumb {
  background: var(--n2-color);
}

* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-size);
  color: var(--text-w-color);
  text-decoration: none;
}

.show {
  transition: 1s ease-in-out;
  transform: translateX(0) translateY(0) rotate(0deg) !important;
  opacity: 1 !important;
}

span {
  font-family: var(--header-font-family) !important;
}

.from-left {
  transform: translateX(-20vh);
}

.from-right {
  transform: translateX(20vh);
}

.from-top {
  transform: translateY(-20vh);
}

.from-bottom {
  transform: translateY(20vh);
}

.hidden {
  opacity: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
body {
  transition: 0.5s ease-in-out;
  min-height: 100vh;
  background: var(--p1-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
body .loading-screen {
  transition: 0.2s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--p1-color);
}
body .loading-screen .loading-object {
  width: 20vh;
  height: 20vh;
  border: 3vh var(--n2-color) double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}
@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}
body .nav-bar {
  transition: 0.2s ease;
  pointer-events: none;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  padding: 3vh 4vh;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1vh);
          backdrop-filter: blur(1vh);
  background: var(--p1-color);
  border-bottom: 0.3vh solid var(--n1-color);
}
body .nav-bar .logo {
  transition: 0.2s ease;
  pointer-events: all;
  font-family: var(--header-font-family);
  display: flex;
  cursor: pointer;
}
body .nav-bar .nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
body .nav-bar .nav-options .nav-option {
  cursor: pointer;
  text-transform: lowercase;
  font-family: var(--header-font-family);
  pointer-events: all;
}
@media (hover: hover) {
  body .nav-bar .nav-options .nav-option:hover {
    -webkit-text-decoration: 0.3vh underline;
            text-decoration: 0.3vh underline;
  }
}
body .everything-whole {
  transition: 0.2s ease-in-out;
  opacity: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .everything {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
body .everything .pages {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 1vh;
}
body .everything .pages .text {
  font-weight: var(--light-font-weight);
  font-size: calc(var(--big-font-size) - 3vh);
}
body .everything .pages .text span {
  color: var(--n1-color);
  font-size: calc(var(--big-font-size) - 3vh);
}
body .everything #hero-page {
  padding: 5vh 1vh !important;
}
body .everything #hero-page .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
body .everything #hero-page .image img {
  width: 50% !important;
  height: 80vh !important;
}
body .everything #hero-page .image .text {
  height: 100%;
  transition: 1s ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  flex-direction: column;
}
body .everything #hero-page .image .text .main-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vh;
  flex-direction: column;
  line-height: calc(var(--big-font-size) + 1vh);
}
body .everything #hero-page .image .text .main-text .sub-text {
  width: 100%;
  font-size: var(--big-font-size);
  font-weight: lighter;
}
body .everything #hero-page .image .text .main-text .sub-text:first-child {
  width: 70%;
}
body .everything #hero-page .image .text .main-text .sub-text:nth-child(2) {
  width: 70%;
}
body .everything #hero-page .image .text .main-text span {
  color: var(--n1-color);
  font-size: var(--big-font-size);
}
body .everything #hero-page .image .text .sub-text {
  width: 100%;
  font-size: var(--header-font-size);
  font-weight: var(--light-font-weight);
}
body .everything .big-slogan {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  gap: 5vh;
  padding: 2vh 0vh;
  background: linear-gradient(to left, var(--s1-color), transparent 90%);
}
body .everything .big-slogan .slogan {
  width: 100%;
  border: 0.3vh solid var(--p1-color);
  border-left: none;
  border-right: none;
  display: inline-block;
  white-space: nowrap;
  padding: 2vh;
  font-size: var(--big-font-size);
  font-weight: var(--light-font-weight);
  color: var(--text-b-color);
  text-transform: uppercase;
  text-align: right;
}
body .everything .bg-linear-to-left {
  background: linear-gradient(to right, var(--s1-color), transparent 90%);
}
body .everything .bg-linear-to-left .slogan {
  text-align: left !important;
}
body .everything #brand-page {
  padding: 10vh 1vh !important;
  gap: 10vh;
}
body .everything #brand-page .brands {
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
}
body .everything #brand-page .brands .brand {
  width: 20vh;
  height: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  padding: 2vh;
  background: conic-gradient(var(--n1-color), var(--s1-color));
}
body .everything #brand-page .brands .brand:nth-child(even) {
  background: conic-gradient(var(--s1-color), var(--n1-color)) !important;
}
body .everything #brand-page .brands .brand .brand-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .everything #brand-page .brands .brand .brand-image img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
body .everything #skills-page {
  gap: 10vh;
  padding: 10vh 1vh !important;
}
body .everything #skills-page .text {
  z-index: 1;
  font-weight: var(--light-font-weight);
  font-size: calc(var(--big-font-size) - 3vh);
}
body .everything #skills-page .text span {
  padding: 0.3vh;
  border-radius: 1vh;
  color: var(--n1-color);
  font-size: calc(var(--big-font-size) - 3vh);
}
body .everything #skills-page .skill-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vh;
}
body .everything #skills-page .skill-set .skill {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vh;
  background: linear-gradient(to right, var(--n2-color), transparent 70%);
}
body .everything #skills-page .skill-set .skill:nth-child(even) {
  background: linear-gradient(to left, var(--n2-color), transparent 70%);
  justify-content: flex-start !important;
}
body .everything #skills-page .skill-set .skill:nth-child(even) .skill-content {
  align-items: flex-end !important;
  justify-content: flex-end !important;
  text-align: right;
}
body .everything #skills-page .skill-set .skill .skill-overlay {
  z-index: 0;
  width: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(0.5vh);
          backdrop-filter: blur(0.5vh);
  height: 100%;
}
body .everything #skills-page .skill-set .skill .skill-content {
  z-index: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: flex-start;
  justify-content: flex-start;
}
body .everything #skills-page .skill-set .skill .skill-content .skill-icon {
  width: 10vh;
  height: 10vh;
  padding: 1vh;
  border-radius: 0.5vh;
}
body .everything #skills-page .skill-set .skill .skill-content .skill-header {
  font-size: var(--header-font-size);
  text-transform: capitalize;
}
body .everything #skills-page .skill-set .skill .skill-content .skill-info {
  width: 80%;
  opacity: 50%;
}
body .everything #contact-page {
  gap: 2vh;
  padding: 10vh 1vh !important;
  border: none !important;
}
body .everything #contact-page .email {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
body .everything #contact-page .email input {
  width: 100%;
  padding: 2vh;
  border-radius: 0.5vh;
  border: 0.3vh solid var(--shadow);
  color: var(--text-b-color);
}
body .everything #contact-page .email textarea {
  width: 100%;
  padding: 2vh;
  resize: none;
  height: 30vh;
  color: var(--text-b-color);
  border: 0.3vh solid var(--shadow);
  border-radius: 0.5vh;
}
body .everything #contact-page .email button {
  border-radius: 0.5vh;
  cursor: pointer;
  width: 100%;
  padding: 2vh;
  background: var(--n2-color);
  color: var(--text-w-color);
  font-weight: var(--header-font-weight);
}
body .everything #contact-page .email button:hover {
  opacity: 50%;
}
body .everything #contact-page .email .send-status {
  width: 100%;
  text-align: center;
}
body .everything #contact-page .contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
body .everything #contact-page .contacts .contact {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}
body .everything #contact-page .contacts .contact svg {
  transition: 0.2s ease;
}
@media (hover: hover) {
  body .everything #contact-page .contacts .contact svg {
    filter: grayscale(100%);
  }
  body .everything #contact-page .contacts .contact svg:hover {
    filter: grayscale(0%) !important;
  }
}

@media (max-width: 980px) {
  :root {
    --header-font-size: 2vh;
    --big-font-size: 4.5vh;
    --text-size: 1.7vh;
  }
  .everything-whole {
    transform: none !important;
    height: -moz-max-content !important;
    height: max-content !important;
    width: 100% !important;
  }
  .everything-whole .everything {
    width: 100% !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    transform: none !important;
    flex-direction: column !important;
  }
  .everything-whole .everything .nav-bar {
    padding: 2vh !important;
  }
  .everything-whole .everything .pages {
    width: 100% !important;
  }
  .everything-whole .everything .pages .text {
    gap: 1vh !important;
    font-size: var(--big-font-size) !important;
    text-align: center;
  }
  .everything-whole .everything .pages .text span {
    font-size: var(--big-font-size) !important;
  }
  .everything-whole .everything .big-slogan .slogan {
    border-top: 0.3vh solid var(--p1-color) !important;
    border-bottom: 0.3vh solid var(--p1-color) !important;
    font-size: 3vh;
    font-weight: 400;
  }
  .everything-whole .everything #hero-page {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 2vh !important;
  }
  .everything-whole .everything #hero-page .image {
    gap: 1vh !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .everything-whole .everything #hero-page .image img {
    width: 100% !important;
    height: 40vh !important;
  }
  .everything-whole .everything #hero-page .image .text {
    padding: 1vh !important;
    gap: 1vh !important;
    width: 100% !important;
  }
  .everything-whole .everything #hero-page .image .text .main-text {
    align-items: center !important;
    justify-content: center !important;
    line-height: var(--big-font-size) !important;
  }
  .everything-whole .everything #hero-page .image .text .main-text .sub-text {
    text-align: center;
    width: 100% !important;
  }
  .everything-whole .everything #hero-page .image .text .sub-text {
    text-align: center !important;
  }
  .everything-whole .everything #brand-page {
    gap: 2vh !important;
    padding: 4vh 2vh !important;
  }
  .everything-whole .everything #brand-page .brands {
    grid-template-columns: auto auto auto !important;
    gap: 1vh !important;
  }
  .everything-whole .everything #brand-page .brands .brand {
    width: auto !important;
    height: auto !important;
  }
  .everything-whole .everything #skills-page {
    padding: 5vh 1vh !important;
    gap: 5vh !important;
  }
  .everything-whole .everything #skills-page .skill-set {
    gap: 0vh !important;
    align-items: center !important;
  }
  .everything-whole .everything #skills-page .skill-set .skill {
    width: 90% !important;
    height: -moz-min-content !important;
    height: min-content !important;
    padding: 5vh 1vh !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-bottom: 0.3vh solid var(--n2-color);
    background: none !important;
  }
  .everything-whole .everything #skills-page .skill-set .skill:first-child {
    border-top: 0.3vh solid var(--n2-color);
  }
  .everything-whole .everything #skills-page .skill-set .skill:nth-child(even) .skill-content {
    width: 100% !important;
  }
  .everything-whole .everything #skills-page .skill-set .skill:nth-child(even) .skill-content .skill-info {
    width: 100% !important;
  }
  .everything-whole .everything #skills-page .skill-set .skill .skill-content {
    width: 100% !important;
  }
  .everything-whole .everything #skills-page .skill-set .skill .skill-content .skill-info {
    width: 100% !important;
  }
  .everything-whole .everything #contact-page .text {
    padding: 1vh 3vh !important;
  }
  .everything-whole .everything #contact-page .email {
    width: 100% !important;
    padding: 1vh 3vh !important;
  }
  .everything-whole .everything #contact-page .contacts {
    gap: 2vh !important;
  }
}/*# sourceMappingURL=style.css.map */